<h1><%= @menu_item.name %></h1>
<h2><%= @menu_item.price %></h2>
<p><%= @menu_item.description %></p>

<%= link_to 'Destroy Menu Item', [:admin, @menu_item], method: :delete %>
<%= link_to 'Edit Menu Item', edit_admin_menu_item_path %>
